<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Honeydew Heaven</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/jbH60Store.styles.css" asp-append-version="true" />
@*  <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon-32x32.png" />*@
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/newLogo.png">
</head>
<body>
    <a asp-action="Index" asp-controller="Home"> <h1 class="display-4 m-2 text-center"><span id="HH_first_word">Honeydew</span> <span id="HH_second_word">Heaven</span></h1></a>
 
     
    <header class="m-4 text-center">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-pink border border-white box-shadow mb-3">
            <div class="container-fluid">
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    
                        <partial name="_LoginPartial"/>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
          
            @RenderBody()
        </main>
    </div>
    

    <footer class="border-top footer text-muted">
        
        <div class="container text-black">
            &copy; 2023 - HoneryDew Heaven - <a asp-area="" asp-controller="Home" asp-action="Attributions">Attributions Page</a>
       
        </div>
      
    </footer>



    <script src="https://unpkg.com/intersection-observer"></script>
    <script src="https://unpkg.com/scrollama"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
