@model jbH60Store.Models.ProductCategory

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row edit-form-container">
    <h1>Create</h1>

    <h4>Product Category</h4>
    <hr />
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProdCat" class="control-label"></label>
                <input asp-for="ProdCat" class="form-control" />
                <span asp-validation-for="ProdCat" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" /> | <a asp-action="AllProductCategoriesSortedByCategory">Back to List</a>
            </div>
               
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
