@page "/"

<PageTitle>Index</PageTitle>
<main class="text-center">
    <h1 class="mb-5"><span id="HH_first_word">Honeydew</span> <span id="HH_second_word">Heaven</span></h1>
    <div>
        Welcome to the Manager site!
    </div>
   
</main>

