@model jbH60Store.Models.Product

@{
    ViewData["Title"] = "Update Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a class="btn-pink p-2 float-start" asp-action="Edit" asp-controller="Products" asp-route-id="@Model.ProductId">Back to Product
    </a>
</div>

<div class="row">
    <div class="col-md-4 edit-form-container">
        <h1>Edit</h1>

        <h4>Product</h4>
        <hr />
        <div>
            <h5>@Model.Description - @Model.Manufacturer</h5>
           


            
        </div>
        <div class="form-group">
            <form asp-controller="Products" asp-action="UpdateStock">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductId" />

           
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" disabled />

          
                <label for="NewStock" class="control-label">Stock added/removed</label>
                <input type="number" id="NewStock" name="NewStock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>



        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
