@{
    ViewData["Title"] = "Home Page";
}


@*
<img id="welcome" src="~/images/pikist.jpg" />*@


<div id="welcome">
    <a class="nav-link text-dark main_containers" asp-area="" asp-action="Index" asp-controller="Products">All Products</a>

   <a class="nav-link text-dark main_containers" asp-area="" asp-action="Index" asp-controller="ProductCategories">All Product Categories</a>
</div>


