
<div class="container text-center">
    <img src="/images/construction.png" />
    <h1>Bees hard at work! Come back when we're done</h1>
    <a asp-action="Index" asp-controller="Home">Back to home</a>
</div>
