@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #e0e0e0;
    /**border: 5px solid white;*/
    font-family: 'raleway';
    color: black !important;
}

a {
    color: aliceblue;
}

fieldset {
  
    background-image: url('../images/green_bg.jpg');
    border: 3px solid white;
    text-align: center;
    margin: 0 auto; 
    padding: 10px;
}

h1 {
    font-family: 'lobster';
}

.HH_labels {
    color: darkolivegreen; /* Yellow */
    font-family: 'raleway';
    font-size: 25px;
}

#HH_first_word {
    color: darkolivegreen;
    position: relative;
    font-size: 65px;
    z-index: 2;
}

#HH_second_word {
    color: #9fc360;
    position: relative;
    font-size: 60px;
    top: 35px;
    left: -80px;
}

section {
    height: 100%;
}

.btn-pink {
    background-color: #9fc360;
    border-radius: 100px;
    border: none;
}

.card-body {
    background-color: white;
}

.bg-low-stock {
    background-color: cornsilk; /* Light red background */
}

nav {
    margin: 30px;
}

.search-form {
    text-align: center;
    margin: 20px auto;
}

.input-group {
    max-width: 400px;
    margin: 0 auto;
}

.search-input {
    border-radius: 5px;
}


#search-button {
    border-top-left-radius: 0;
    background-color: black;
    border: 3px solid black;
    border-bottom-left-radius: 0;
}

.btn-edit {
    background-color: lightgray;
    border: 1px solid black
}


    .btn-edit:hover {
        background-color: black;
        color: white;
        border: 1px solid black;
        /* transform:*/
    }


a {
    text-decoration: none;
}

    a:hover {
        color: black;
    }

.edit-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

.form-label {
    color: black;
    font-weight: bold;
}

.form-control {
    border: 2px solid black;
    border-radius: 5px;
}

    .form-control:focus {
        border-color: #9fc360;
        box-shadow: 0 0 5px rgba(159, 195, 96, 0.7);
    }

.btn-primary {
    background-color: black;
    border: none;
}

    .btn-primary:hover {
        background-color: black;
        color: #9fc360;
        border: 2px solid #9fc360;
    }

.delete-page-container {
    background-color: pink;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

.btn-danger {
    background-color: orange;
    border: 1px solid black;
}

    .btn-danger:hover {
        background-color: orangered;
    }



.fw-bold {
    color: black;
}

.search-btn{
    background-color:darkolivegreen;

}


.selected-criteria {
    background-color: #9fc360;
}
.btn-price{
    background-color:lightblue;
}
.btn-stock {
    background-color:lightsteelblue ;
}
.sidebar{
    background-color:darkolivegreen;
}
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

